# Build Folders
bin/
obj/

# Visual Studio / Rider / IDE files
*.user
*.suo
*.vscode/
*.vs/
*.idea/

# MonoGame compiled content
Content/bin/
Content/obj/
*.xnb

# MonoGame / C# binaries
*.exe
*.dll
*.pdb

# Temporary / OS files
*.log
*.cache
*.DS_Store
Thumbs.db

# NuGet packages (optional, usually restored automatically)
packages/
*.nupkg

# JetBrains Rider
.idea/
*.sln.iml

notes.txt